

.futa-container {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  margin-top: 5%;
  text-align: center;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.futa-icon {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  color: #0000FF; /* Set icon color to blue */
}

.futa-icon:hover {
  color: #005f8c; /* Darker blue on hover for better contrast */
}

p {
  margin: 0;
}

.copyright {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
