*{
  margin:0;
  padding:0;
  text-decoration: none;
  
}


@font-face {
  font-family: 'MyFont';
  src: url('../src/assets/fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Medium';
  src: url('../src/assets/fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Regular';
  src: url('../src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SemiBold';
  src: url('../src/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Bold';
  src: url('../src/assets/fonts/Poppins-Bold.ttf') format('truetype');
}


h1{
  font-family:" Poppins Bold";
}


body{
  overflow-x: hidden;

}



/* .container{
  display:flex;
} */
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  /* background: #000; */
  color: #fff;
  position: absolute;
  top: 0px;
  width: 200px;
  transition: all 0.5s;
  padding-top: 5%;
  position: fixed;
  background: blue;
  left: 0px;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  margin-bottom: 13%;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: #007bff;
  color: #000;
}
.icon, .link_text{
  font-size: 23px;
}

.About {
  margin-top: 100px;
  font-family: "SemiBold";
}


.About h2{
  font-size: 80px;
  font-family: "SemiBold";
}

.About .row{
  justify-content: center;
  align-items: center;
}

.About p{
  font-family: 'MyFont';
}


.About hr{
  width: 194px;
  background: #01032c;
  height: 1vh;
  margin-top: -5%;
  margin-left: 0%;
}

.about-img{
  box-shadow: 0 3px 0px 0px #01032c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 369px;
    width: 399px;
}



  

  .about-img img{
    border-radius: 50%;
    height: 339px;
    width: 338px;
  }

  .lang-img{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}


/* .myskills{
  background: #01012d
} */

.skills{
  font-weight: 400px;
  font-size: 20px;
  margin-top: 10%;
  color: white;
  background: black;
  position:relative;
}

.skills h2{
  margin-top: 50%;
  font-size: 80px;
}

.skills .row{
  margin-bottom: 5%;
}

.skills hr{
  width: 194px;
  background: white;
  height: 1vh;
  margin-top: -5%;
  margin-left: 0%;
}



.myskills{
  margin-left: 10%;
 
}

.myskills p{
  font-weight: 400px;
  font-size: 28px;
  color: white;
}

.myskills .row{
  justify-content: center;
  align-items: center;
}



.skills .footer-container{
  position: absolute;
  top: 83%;
  width: 103%;
  left: 0;
}

.skills p{
  font-family: 'MyFont';
  
}


.pros h2{

  margin-bottom: 30px;
}


.pros p {
  font-family: 'MyFont';

  margin-bottom: 40px;
}

.prods{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.pros h2{
  font-family: "SemiBold";
  font-size: 60px;
}

.pro-text{
  margin-top: 40px;
}

.pro-text h2{
  text-align: inherit;
}

.pro-text p {
  text-align: inherit;
}

.pros-img{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.pros button{
  font-family: "Medium";
  border: none;
  padding: 10px;
  background: rgb(0 0 16);
  color: white;
  height: 50px;
  text-align: center;
}


.con{
  background-image: url(../src/assets/Home/bg.jpg)!important;
  height: 85vh;
  padding: 30px;
  position: relative;
}

.contact{
  text-align: center;
  margin-top: 100px;
}

.contact h3{
  font-family: "SemiBold";
  font-size: 60px;
}

.contact p{
  font-family: "MyFont";
  font-size: 25px;
}

.con-text{
  color: white;
  text-align: initial;

}

.con-text p{
  font-family: "SemiBold";
}
.con-icon{
  color: white;
  text-align: initial;
  margin-left: -3%;
}

.con-icon i {
  margin: 0 20px;
}


.con .footer-container{
  position: absolute;
  top: 80%;
  width: 103%;
  left: 0;
}

.con-img{
  color: white;
  text-align: initial;
  margin-top: 10%;
  font-family: "SemiBold";
  width: 400px;
}

.con-img p{
font-family: "MyFont";
}
/* @media screen and (max-width:600px) {
 h1{
  background-color: red;
 }
  
} */
  